<footer class="feeter ">
  <section class="grid">
    <div class="col">
      <!-- LOGO -->
      <a class="logo" href="index.html"> <img class="logo" src="images/logo.png" alt="Home"></a>
      <p>FOOTER TAG LINE</p>
    </div>
    <div class="col">
      <!-- SOCIALS -->
      <div>
        <a href="FACEBOOK_URL"><img src="images/facebook.png" alt="Facebook"></a>
        <a href="PINTEREST_URL"><img src="images/pinterest.png" alt="Pinterest"></a>
        <a href="INSTAGRAM_URL"><img src="images/instagram.png" alt="Instagram"></a>
      </div>
      <!-- MORE CONTACTS -->
      <p>Info @</p>
      <p>Ph:</p>
      <p>www.</p>
      <p>ABN:</p>
      <!-- BLOG POSTS -->
      <p>Blog Post</p>
    <div>
  </section>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
