<footer class="feeter">
  <div class="grid-center smaller">
    <!-- <div class="col"> -->
      <!-- LOGO -->
      <!-- <a class="logo" href="index.html"> <img class="logo" src="images/logo2.png" alt="Home"></a> -->
      <!-- <h4>Periwinkle Garden Design &amp; Creation believes that a garden should not only be visually stunning, but also serve as your own little sanctuary, a place to relax and escape, a garden you love to be in.</h4> -->
    <!-- </div> -->
    <div class="col-12 socials-big">
      <!-- SOCIALS -->
      <div class="socials">
        <a href="https://www.facebook.com/periwinklegardendesign/"><i class="fa fa-facebook social" aria-hidden="true"></i></a>
        <a href="PINTEREST URL"><i class="fa fa-instagram social" aria-hidden="true"></i></a>
        <a href="INSTAGRAM URL"><i class="fa fa-pinterest-p social" aria-hidden="true"></i></a>
      </div>
      <!-- MORE CONTACTS -->

      <!-- <p>Ph: 0433 399 495</p>
      <p>www.periwinkledesign.com.au</p>
      <p>ABN: 79172162477</p> -->
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
<!-- LightWidget WIDGET -->
<!-- <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/8e845b3a2ea75cf9ae601a8bd8880051.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 10%; border: 0; overflow: hidden;"></iframe> -->
